**/__pycache__/**
**/*.sqlite
**/*.json
**/*.log
**/*.sql
**/*.pt
**/logs/**
checkpoints/**


# Exclude specific files
!config/*.json
!data/db_schema/*.json
!data/gold_schema_linking/*.json
!data/labeled_schema_linking_dataset/*.json

!gnn/results/*.json
!llm/results/*.json